body {
    margin: 0;
}
/* ini header atas */
#headerimage {
    position: absolute; 
    z-index: 2;
    height: 700px; 
    width: auto;
    top: 80px;
    left: 100px;
}
/* ini header image 2 */
#header2 {
    position: absolute; 
    z-index: 2;
    height: 750px;
    width: auto;
    top: 80px;
    left: 100px;
}
/* ini kuning */
.header2 {
    background-color: #e9a226;
    width: 100%;
    height: 315px;
    position: relative; 
    z-index: 1; 
}
/* ini merah */
.header1 {
    background-color: #c90000;
    width: 100%;
    height: 415px;
    position: relative; 
    z-index: 1; 
    padding-top: 50px;
}
/* ini tulisan header 1 */
.header1 span {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

#headerimage2 {
    width: 250px;
    left: 200px;
}

@font-face {
    font-family: 'Tempel Grotesk';
    src: url('fonts/Tempel\ Grotesk\ Wide.ttf') format('.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica\ Neue\ ME\ Bold.ttf') format('.ttf');
}


body {
    font-family: 'Tempel Grotesk', sans-serif;
}


.title {
    font-size: 80pt;
    color: #393938;
    letter-spacing: 5px;
    text-align: center;
}

.caption {
    display: flex;
    justify-content: space-between;
    font-size: 36pt;
    font-family: 'Helvetica Neue Me Bold';
    color: #393938;
}
.grup-title {
    margin-left: 50px;
    margin-right: 50px;
}

/* .Background { */
    background-color: #c90000;
    width: 100%;
    height: 50px;
    position: relative; 
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 10px;
/*  */
.header3 {
    background-color: #c90000;
    width: 100%;
    height: 50px;
    position: relative; 
    z-index: 1;
}

.headerback {
    background-color: #e9a226;
    width: 100%;
    height: 5000px;
    position: relative; 
    z-index: 1;
}