body {
    background-color:#393938 ;
    width: auto ;
    height: 1000px ;
}

@font-face {
    font-family: 'Tempel Grotesk';
    src: url('fonts/Tempel\ Grotesk\ Wide.ttf') format('.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica\ Neue\ ME\ Bold.ttf') format('.ttf');
}

/* Header Section */
    #logoheader {
        position: absolute  ; 
        z-index: 1 ;
        height: 125px ; 
        width: auto ;
        padding-top: 20px ;
        margin: 0 ;
    }

    .menu {
        display: inline-flex ;
        flex-direction: row ;
        justify-content: space-between ;
        align-items: center ;
        font-family: 'Tempel Grotesk' ;
        font-style: italic ;
        padding-top: 50px ;
        color: white ;
        letter-spacing: 1px ;
    }

/* Main Section */
    .mainsection {
        font-family: 'Tempel Grotesk';
        font-style: italic ;
        padding: 150px ;
        padding-left: 100px ;
    }

    .carlos {
        color: #c90000 ;
        font size: 100pt ;
    }

    .F1 {
        color: white ;
    }

    .carlosimage {
        width: 700px ;
    }

/* Biography Section */
    .biography-font {
        font-family: 'Tempel Grotesk';
        font-style: italic ;
        color: #c90000 ;
    }

    .biography-par {
        font-family: 'Helvetica Neue ME Bold';
        font-style: italic ;
        color: white ;
    }

/* Career Section */
    .career-font {
        font-family: 'Tempel Grotesk';
        font-style: italic ;
        color: #c90000 ;
    }

    .career-par {
        font-family: 'Helvetica Neue ME Bold' ;
        font-style: italic ;
        color: white ;
    }

    .careerteam {
        color: #eed73f;
    }

/* Achievement Section */
    .achievement-font {
        font-family: 'Tempel Grotesk' ;
        font-style: italic ;
        color:#c90000 ;
    }

    .achievement-par {
        font-family: 'Helvetica Neue ME Bold';
        font-style: italic ;
        color: white ;
    }

    .achvyear {
        color: #eed73f ;
    }
