body {
    background-color:#003049 ;
    width: auto ;
    height: auto;
}

@font-face {
    font-family: 'Tempel Grotesk';
    src: url('fonts/Tempel\ Grotesk\ Wide.ttf') format('.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica\ Neue\ ME\ Bold.ttf') format('.ttf');
}

/* Header Section */
    #logoheader {  
        height: 50px ; 
        width: auto ;
        margin-top: -15px ;
        margin-right: 15px;
    }

    header {
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 2.50rem;
        padding-top: 2.50rem;
    }
    
    nav>ul {
        display: flex;
        margin: 0;
        list-style: none;
        gap: 100px;
        padding-top: 20px;
    }

    nav>li { 
        display: flex ;
        justify-content: center ;
        padding-top: 10px ;

    }
    
    .menu {
        font-family: 'Tempel Grotesk' ;
        font-style: italic ;
        padding-top: 50px ;
        color: white ;
        letter-spacing: 1px ;
    }

/* Main Section */
    .mainsection {
        font-family: 'Tempel Grotesk';
        font-style: italic ;
        display: flex ;
        flex-direction: column;
        justify-content: flex-start ;
        align-items: center;
    }

    .carlos {
        color: #D62828 ;
        font-size: 50pt ;
        letter-spacing: 3px;
    }

    .f1 {
        color: white ;
        font-size: 20pt;
        letter-spacing: 1px;
    }

    .carlosimage {
        width: 500px ;
    }

/* Biography Section */
    .biography-font {
        font-family: 'Tempel Grotesk';
        font-style: italic ;
        font-size: 40px;
        letter-spacing: 1px;
        color: #D62828 ;
    }

    .biography-par {
        font-family: 'Helvetica Neue ME Bold';
        font-style: italic ;
        font-size: 20px ;
        color: white ;

    }

/* Career Section */
    .career-font {
        font-family: 'Tempel Grotesk';
        font-style: italic ;
        font-size: 40px ;
        letter-spacing: 1px;
        color: #D62828 ;
        
    }

    .career-par {
        font-family: 'Helvetica Neue ME Bold' ;
        font-style: italic ;
        color: white ;
    }

    .careerteam {
        color: #F77F00 ;
        font-size: 20px ;
    }

    .careeryear {
        color: white ;
        font-size: 25px;
    }

/* Achievement Section */
    .achievement-font {
        font-family: 'Tempel Grotesk' ;
        font-style: italic ;
        font-size: 40px ;
        letter-spacing: 1px;
        color:#D62828 ;
    }

    .achievement-par {
        font-family: 'Helvetica Neue ME Bold';
        font-style: italic ;
        color: white ;
    }

    .achvyear {
        font-size: 25px;
        color: #F77F00 ;
    }

    .achvpodium {
        font-size: 20px;
    }

/* Image Section */
    .container {
        display: flex ;
        flex-direction: column;
        align-items: center;
        gap: 20px ;
    }

    .container img {
        width: 700px ;
        height: auto ;
    }

/* About Section */
    .about-font {
        font-family: 'Tempel Grotesk' ;
        font-style: italic ;
        font-size: 40px ;
        letter-spacing: 1px;
        color:#D62828 ;
    }

    .about-media {
        font-family: 'Helvetica Neue ME Bold';
        font-size: 25px ;
        color: white;

    }

    .about-content {
        font-family: 'Helvetica Neue ME Bold';
        font-size: 20px ;
        color: #FCBF49 ;
    }

    a {
        text-decoration: none ;

    }